<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if titleTag %}{{ titleTag }}{% else %}{{ title }} | {{ site.shortName }}{% endif %}</title>
  {% if description %}<meta name="description" content="{{ description }}">{% endif %}
  {% if robots %}<meta name="robots" content="{{ robots }}">
  {% elif buildEnv != "production" %}<meta name="robots" content="noindex, nofollow">{% endif %}
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.shortName }}">
  <meta property="og:locale" content="pl_PL">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if titleTag %}{{ titleTag }}{% else %}{{ title }}{% endif %}">
  {% if description %}<meta property="og:description" content="{{ description }}">{% endif %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <script src="/assets/js/theme-init.js"></script>
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <meta name="theme-color" content="#081830">
</head>
