<div class="topbar">
  <div class="wrap topbar__row">
    <p class="topbar__info">Adwokaci i radcowie prawni · {{ site.address.city }}, {{ site.address.street }}</p>
    <p class="topbar__phone"><a href="{{ site.phoneHref }}" data-umami-event="telefon">{{ site.phone }}</a></p>
  </div>
</div>
